input{
    display: flex;
    width: 40vw;
    height: 3vw;
    margin: auto;
    border-radius: 4vw;
    text-align: center;
    border: none;
    font-size: 2vw;
    flex-wrap: nowrap;
    font-family: 'Times New Roman', Times, serif;
}
input:focus {
    outline: none;
}
button{
    background: #3a7999;
    display: flow;
    width: 20vw;
    height: 3vw;
    margin: auto;
    margin-top: 3%;
    border-radius: 4vw;
    border: none;
    position: relative;
	box-sizing: border-box;
    font-size: 2vw;
    transition: all 500ms ease;
    font-family: 'Times New Roman', Times, serif;
    color: cornsilk;
}
button:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 3vw;
	background: rgba(255,255,255,0.3);
	border-radius: 4vw;
	transition: all 2s ease;
}
button:hover {
	background: rgba(0,0,0,0);
	box-shadow: inset 0 0 0 3px #3a7999;
}